body
    {
        background-color: rgb(245, 204, 165);
        
    }
    
    h1
    {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: green;
        text-shadow: 40cap;
    }

.List_Info
{
    display: flex;
  justify-content: center;
  gap: 50px;
}

.Foot_Page
{
    display: flex;
    position: relative;
    bottom: -100vh;
    color: rgb(0, 49, 141);
    justify-content: center;
}

.Form_Style
{
  margin: 0;
  border: 20px lightcoral double;
  width: 30%;
  position: relative;
  left: 66vh;
  top: 10vh;
  
  
}